data/raw
data/preprocessed/ux
data/preprocessed/uy
data/aux/**

models/*

figures/monitor/*
figures/evaluation/*
figures/wf_slices

*.log

*.egg-info
.venv*
*pyc
*swp
.vscode
metrics.json

dvc-remote-data*
*notes.md

# Exceptions
!figures/monitor/.gitkeep
!models/.gitkeep