# # local packages
-e .
# external packages
--extra-index-url https://download.pytorch.org/whl/cu116
albumentations
dvc
dvc-gdrive
ipykernel
jupyter
matplotlib
lightning[extra]
pytorch-lightning
pyyaml
scikit-learn
scipy
setuptools
split-folders
torch
torchsummary
torchvision
ypstruct