# # local packages
-e .
# external packages
--extra-index-url https://download.pytorch.org/whl/cu116
dvc
dvc-gdrive
ipykernel
jupyter
lightning[extra]
matplotlib
neptune-client
pytorch-lightning
pyyaml
scikit-learn
scipy
setuptools
split-folders
torch
torchmetrics
torchsummary
torchvision
ypstruct